<%= erb :header %>
<script type="text/javascript" src="/js/validate.min.js"></script>
<div class="eight columns alpha">
  <h2>Change password</h2>

    <div id="change_error" class="error">
      <%= @change_error if @change_error %>
    </div>
	
  <form name="changepassword" action="/changepassword" method="post">
	<input type="hidden" name="token" value="<%= session[:changepasswordcreds][:token] %>">
	<label for="password">New password *</label>
	<input type="password" name="password" required autofocus maxlength=40 placeholder="5-40 characters"/>
	<label for="password_confirmation">Type new password again *</label>
	<input type="password" name="password_confirmation" required maxlength=40 placeholder="5-40 characters"/>
    <input type="submit" value="Change Password" />
  </form>
</div>  

<div class="eight columns omega">
</div>
<script type="text/javascript">
	function basicValidator(formName, password, extraRules, errorElementId) {
		var basicRules = [{
			name: 'password',
			rules: 'required|min_length[5]|max_length[40]'
		},{
			name: 'password_confirmation',
			rules: 'required|matches[password]'
		});
		return new FormValidator(formName, basicRules.concat(extraRules), function(errors, event) {
			if (errors.length > 0) {
		        var errorString = [];
		        for (var i = 0, errorLength = errors.length; i < errorLength; i++) errorString.push(errors[i].message);
		        document.getElementById(errorElementId).innerHTML =  errorString.join("<br />");
			} 
		});
	}
	validator = basicValidator('changepassword', true, [], 'change_error');
</script>

<%= erb :footer %>


