<%= erb :header %>
<div class="sixteen columns alpha omega" id="maincol">
	<h2 class="headline">Contact</h2>
	<div class="box">
		<p>For legal questions,
			<div class="indent"><em><strong>email "legal" at this website's domain name.</strong></em></div></p>
			<br />
			<p>
		For all other questions, concerns, suggestions, business opportunities, well-wishes, offers of free ice cream, advice on your miniature dachshund's behavior problem, imaginary sports scores, gifts of at least $1, one-sided conversations, or just that feeling of warmth and personal connection that comes from talking to an Internet grammar police officer, 
		<div class="indent"><em><strong>email "info" at this website's domain name.</strong></em></div></p>
</div>
</div>
	<%= erb :footer %>