      </div>
      <div id="footer" class="sixteen columns roundedwhitebox">
		  <div class="box">
	              <a href="/about">About</a> · 
	              <a href="/contact">Contact</a> ·
				  <a href="/terms">Terms</a> · 
	              <a href="/privacy">Privacy</a> 
	          </div>
		  </div>
      </div>
    </div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36632344-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
  </body>
</html>
