
      </div>
      <div id="footer" class="sixteen columns roundedwhitebox">
		  <div class="box">
	              <a href="/about">About</a> · 
	              <a href="/contact">Contact</a> ·
				  <a href="/terms">Terms</a> · 
	              <a href="/privacy">Privacy</a> 
	          </div>
		  </div>
      </div>
    </div>
	<%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
  </body>
</html>
