
<%= erb :header %>

<div class="two-thirds column alpha omega" id="maincol">
	<h2 class="headline">Home Timeline</h2>
	<div class="box">
		<a href="/post/new">Add an itym</a><br /><br />
  		<%= erb :_posts %>
	</div>
</div>
<%= erb :follow %>


<%= erb :footer %>
