<%= erb :header %>
<div class="sixteen columns alpha omega" id="maincol">
    <h2 class="headline">Add an itym</h2>
   	<div id="postdetails" class="box">
    	<%= erb :_post, :locals => {:post => post } %>
	</div>
</div>
<%= erb :footer %>
