<%= erb :header %>
<script type="text/javascript" src="/js/validate.min.js"></script>
<div class="sixteen columns alpha omega" id="rightcol">
  <h2 class="headline">Reset Password</h2>
  <div class="box">
    <div id="link_error" class="error">
      <%= @link_error if @link_error %>
    </div>
	
  <form name="resetpassword" action="/resetpassword" method="post">
	<label for="email">Email *</label>
	<input type="email" name="email" required autofocus value="<%= params[:email] %>"/>
	<label for="email">Type "sorry" *</label>
	<input type="text" name="sorry" value=""/>
    <input type="submit" value="Reset Password" />
  </form>
</div>
</div>  
<script type="text/javascript">
	function basicValidator(formName, password, extraRules, errorElementId) {
		var basicRules = [{
			name: 'email',
			rules: 'required|valid_email'
		}];
		return new FormValidator(formName, basicRules.concat(extraRules), function(errors, event) {
			if (errors.length > 0) {
		        var errorString = [];
		        for (var i = 0, errorLength = errors.length; i < errorLength; i++) errorString.push(errors[i].message);
		        document.getElementById(errorElementId).innerHTML =  errorString.join("<br />");
			} 
		});
	}
	validator = basicValidator('resetpassword', false, [{
		name: 'sorry',
		rules: 'required|callback_sorry'
	}], 'link_error');
	validator.registerCallback('sorry', function(value) {
	    return value.toLowerCase() == "sorry" ? true : false;
	}).setMessage('sorry', 'You must type "sorry" in that box. It\'s your punishment.');
</script>

<%= erb :footer %>


